# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Data Science languages
- Popular data science libraries
- Creating a table
- Practicing Arithmetic expression

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Scipy
3. Pandas
4. Pytorch

|Data Science Tools|
|----------------------|
|Jupyter Notebook|
|Rstudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python
- 1+2
- (2+3)*5

In [5]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Habtamu